@using Volue_case.Services
@model Bid?
@{
    ViewData["Title"] = "Home Page";
  var i = 1;
}

<form class="mb-2 m-auto text-center d-flex justify-content-center">
  <input class="form-control-sm mx-1" placeholder="Customer Id" type="text"/>
  <input class="form-control-sm mx-1" placeholder="Date" type="date"/>
  <input class="form-control-sm mx-1" placeholder="Market" type="text"/>
  <input class="form-control-sm mx-1" placeholder="Country" type="text"/>
  <button class="btn btn-sm btn-success mx-1">Go</button>
</form>
<p class="pb-3"></p>

@if (Model != null)
{
  <partial name="_BidCard" model="@Model"/>
  <p class="pb-3"></p>
  <partial name="_Series" model="@Model.Series.OrderByDescending(x => x.StartInterval)"/>
}
else
{
  <div class="text-center">
    <div>No result in our database for this query!</div>
    <div>please try another query values .. or go to <strong>Sync listener</strong> and fetch data.</div>
  </div>
}
